.likes id="#likes-#{answer.id}"
  = form_tag({controller: "likes",action: "create", like: {user_id: current_user, answer_id: answer.id}}, method: "post") do
    = submit_tag("like", class: "btn btn-success", value: pluralize(answer.likes_count, 'like') )
